<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css"> 
</head>
<body>
<header class="site-header">
    <h1 class="brand-name"><span class="highlight">Penny</span> Flow</h1>
</header>



    <nav class="main-nav">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/income-expense}">Track  income and Expense</a></li>
            <li><a th:href="@{/budget}">Set a Budget</a></li>
            <li><a th:href="@{/reminder}">Set a Reminder</a></li>
        </ul>
    </nav>

    <div class="form-container">

  <h2>Set Your Reminder!</h2>
<form>
  <label for="Time">Time</label><br>
  <input type="Text" id="time" name="time"><br><br>

  <label for="Label">Label</label><br>
  <input type="text" id="Label" name="Label">
    <input type="submit" value="Submit">
    </form>

</div>

<div class = "showing reminder">

    
</div>

<script src="/js/main.js"></script>

</body>
</html>
